.container{
    background-color:darkgreen;
    float:left;
    width:100%;
    background-image: url('../images/dragon2.jpg')
}
h1{
    color:white;
    background-color:orangered;
}
#Aroo{
    color:green;
    background-color: burlywood;
}
#Aroo2{
    color:purple;
    background-color:forestgreen;
    height: 100px;
}
#Aroo3{
    color:black;
    background-color:skyblue;
    
}
#Aroo5{
    color:white;
    background-color:teal
}
#Aroo6{
    color:white;
    background-color:teal;
    height: 100px;
}
#crystal1{
    height:50px;
    }
#crystal2{
        height:50px;
 }
  #crystal3{
      height:50px;
      width:90%;
}
#crystal4{
    height:50px;
}   